/* globals.css */
@tailwind base;
@tailwind components;

:root {
  --VioletGray-500: #908B93;
  --VioletGray-800: #4E4852;
  --VioletGray-900: #403A44;
  --Bunker-Neutrals-100: #DCDDDD;
  --White: #FFF;
}

/* Custom font family utility */
@layer base {
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    src: url('/path/to/archivo-regular.woff2') format('woff2');
  }
}

@layer components {
/* login */
  .loginForm{
    @apply px-11 text-gray-900 text-base rounded-md drop-shadow-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500
  }


  
  /* table css */
  .T-head {
    @apply text-[12px] font-archivo font-semibold leading-[18px];
    color: var(--VioletGray-500, #908B93);
  }
  .T-data{
    @apply text-[12px] font-archivo font-normal leading-[20px];
    color: var(--VioletGray-500, #908B93);
  }
  .T-data-name {
    @apply text-[14px] font-archivo font-medium leading-[20px];
    color: var(--VioletGray-900, #403A44);
  }
}

@tailwind utilities;
